.contacts {
  background-color: $darkBackGround;
  color: white;
  font-weight: 300;

  &__container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--text {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}