.menu {
  background-color: $darkBackGround;

  &__content {
    height: 100vh;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    &--cross {
      height: 20px;
      width: 20px;
      
      background-image: url(./images/cross.png);
      background-size: cover;

      transition: $transitionTime;

      &:hover {
        transform: scale(120%);
      }
    }
  }

  &__list {
    list-style: none;
    text-align: center;

    @include onDesktop {
      display: inline;
      display: flex;
      gap: 60px;
    }
  }

  &__item{
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid transparent;

    font-weight: 300;
    
    transition: $transitionTime;

    @include onDesktop {
      margin-bottom: 0;
    }

    &:hover {
      border-color: white;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
  }
}