p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0 auto;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  transform: translateY(-100%);
}
.page__menu:target {
  transform: translateY(0);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(31, 36, 45, 0.5), rgba(31, 36, 45, 0.5)), url(./images/bg.png) center/cover, linear-gradient(rgb(31, 36, 45), rgb(31, 36, 45));
  background-repeat: no-repeat;
}
.header__nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: none;
}
@media (min-width: 1440px) {
  .header__list {
    display: block;
  }
}
.header__menu--opener {
  width: 20px;
  height: 20px;
  background-image: url(./images/Hamburger.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
@media (min-width: 1440px) {
  .header__menu--opener {
    display: none;
  }
}
.header__menu--opener:hover {
  transform: scale(120%);
}
.header__menu--language {
  display: none;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
@media (min-width: 1440px) {
  .header__menu--language {
    display: inline;
  }
}
.header__menu--language:hover {
  border-color: white;
}
.header__menu--language:focus {
  border-color: white;
}
.header__title {
  margin-bottom: 15px;
  max-width: 900px;
  font-weight: 500;
  font-size: 25px;
}
@media (min-width: 769px) {
  .header__title {
    font-size: 28px;
  }
}
@media (min-width: 1440px) {
  .header__title {
    font-size: 50px;
  }
}
.header__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .header__subtitle {
    flex-direction: row;
    align-items: center;
  }
}
.header__subtitle--text {
  margin-bottom: 15px;
  max-width: 900px;
  font-weight: 300;
  font-size: 18px;
}
@media (min-width: 769px) {
  .header__subtitle--text {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .header__subtitle--text {
    font-size: 25px;
    margin-bottom: 0;
  }
}
.header__subtitle--arrow {
  height: 30px;
  width: 20px;
  background-image: url(./images/Arrow_-_Scroll.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
@media (min-width: 1440px) {
  .header__subtitle--arrow {
    height: 90px;
  }
}
.header__subtitle--arrow:hover {
  transform: scale(120%);
}

.container {
  box-sizing: border-box;
  padding: 0 40px;
}

.menu {
  padding-top: 40px;
  background-color: rgb(31, 36, 45);
}
.menu__content {
  height: 100vh;
}
.menu__actions {
  display: flex;
  justify-content: space-between;
}
.menu__actions--cross {
  height: 20px;
  width: 20px;
  background-image: url(./images/cross.png);
  background-size: cover;
  transition: 0.3s;
}
.menu__actions--cross:hover {
  transform: scale(120%);
}
.menu__list {
  list-style: none;
  text-align: center;
}
@media (min-width: 1440px) {
  .menu__list {
    display: inline;
    display: flex;
    gap: 60px;
  }
}
.menu__item {
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
  font-weight: 300;
  transition: 0.3s;
}
@media (min-width: 1440px) {
  .menu__item {
    margin-bottom: 0;
  }
}
.menu__item:hover {
  border-color: white;
}
.menu__link {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(217, 208, 192);
  font-weight: 300;
  font-size: 18px;
}
@media (min-width: 769px) {
  .content {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .content {
    font-size: 25px;
  }
}
.content__text {
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1000px;
}
.content__companies {
  padding: 0 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 769px) {
  .content__companies {
    gap: 0;
    justify-content: space-between;
  }
}
.content__companies--logo {
  transition: 0.3s;
}
.content__companies--logo:hover {
  transform: scale(120%);
}

.contacts {
  background-color: rgb(31, 36, 45);
  color: white;
  font-weight: 300;
  border-bottom: 1px solid white;
}
.contacts__container {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .contacts__container {
    flex-direction: row;
  }
}
.contacts__content {
  padding-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 769px) {
  .contacts__content {
    margin: 0;
  }
}
.contacts__content--title {
  font-size: 30px;
}
@media (min-width: 769px) {
  .contacts__content--title {
    font-style: 40px;
  }
}
@media (min-width: 1440px) {
  .contacts__content--title {
    font-style: 60px;
  }
}
.contacts__content--text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__content--address {
  color: white;
  text-decoration: none;
}
.contacts__content--phone {
  display: flex;
  flex-direction: column;
}
.contacts__content--links {
  display: flex;
  gap: 30px;
}
.contacts__content--link {
  width: max-content;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.contacts__content--link:hover {
  border-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 320px;
  width: 280px;
}
@media (min-width: 769px) {
  .form {
    padding-top: 40px;
    width: 550px;
  }
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
@media (min-width: 1440px) {
  .form__container {
    flex-direction: row;
  }
}
.form__field {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  outline: none;
}
@media (min-width: 769px) {
  .form__field {
    font-size: 13px;
  }
}
.form__field--textarea {
  resize: none;
  height: 129px;
}
@media (min-width: 769px) {
  .form__field--textarea {
    height: 140px;
  }
}
@media (min-width: 1440px) {
  .form__field--textarea {
    height: 300px;
  }
}
.form__field--checkbox {
  height: max-content;
}
.form__confirmation {
  display: flex;
  font-size: 10px;
}
.form__confirmation--text {
  cursor: pointer;
}
.form__button {
  background: none;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.form__button:hover {
  transform: scale(110%);
}

.footer {
  background-color: rgb(31, 36, 45);
}
@media (min-width: 769px) {
  .footer {
    height: 100px;
  }
}
.footer__container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .footer__container {
    width: 100%;
    flex-direction: row;
  }
}
.footer__logo {
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .footer__logo {
    margin: 0;
  }
}
.footer__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: white;
  font-weight: 300;
}
@media (min-width: 769px) {
  .footer__text {
    flex-direction: row;
  }
}
.footer__text--container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .footer__text--container {
    flex-direction: row;
    gap: 30px;
  }
}

.link {
  width: max-content;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.link:hover {
  border-color: white;
}

/*# sourceMappingURL=main.css.map */
